* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark {
  background-color: #1f1f1f;
}
body,
.ligth {
  background-color: #eeeeee;
}

#container {
  margin: auto;
  max-width: 800px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 400px;
  height: 350px;
  padding: 20px;
}
p {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 50px;
  color: #3d9db3;
  margin: 30px 0;
}
span {
  width: 80%;
  height: 1px;
  background-color: #cccccc;
  margin: -20px 0 20px 0;
}
input {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cccccc;
}
.box button {
  margin-top: 20px;
  display: block;
  width: 80%;
  background-color: #3d9db3;
  border: 1px solid #cccccc;
  color: #eeeeee;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.botoes button {
  padding: 5px;
  background-color: #3d9db3;
  color: #fff;
  border: 0;
  cursor: pointer;
  margin-top: 20px;
}
