body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
h1,
p {
  margin: 0;
}
/*  DEFAULT  */
.default {
  width: 100vw;
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-body {
  max-width: 1140px;
  margin: auto;
}
.dark {
  background-color: #1a1a1a;
  color: #fff;
}
.ligth {
  color: #000;
}
.button {
  display: block;
  background-color: #b9dfdf;
  padding: 15px 40px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.button:hover {
  background-color: #79afaf;
  color: #fff;
  transition: 0.5s;
}

/*  HEADER  */

.header {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 1140px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.header .menu {
  display: flex;
  align-items: center;
}
form {
  display: flex;
}
.header button {
  margin-left: -40px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.header button img {
  width: 24px;
  height: 24px;
}
.header input {
  max-width: 222px;
  width: 100%;
  height: 48px;
  outline: none;
  border: 1px solid #cccccc;
  padding: 0px 35px 0px 10px;
  font-size: 15px;
}
.header .icon-menu {
  display: flex;
  cursor: pointer;
  padding-left: 30px;
}
.header .icon-menu img {
  width: 40px;
  height: 40px;
}
/*    */
/*  BANNER  */
.banner {
  background-image: url(/assets/images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
}
.section--banner {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bar {
  width: 12px;
  height: 96px;
  background-color: #b9dfdf;
}
.section--banner-text {
  margin-top: 80px;
  width: 50%;
  position: absolute;
  top: 50px;
  right: 0px;
}
.section--banner-text h1 {
  font-size: 96px;
  line-height: 120px;
  max-width: 600px;
}
.section--banner-text p {
  margin-top: 20px;
  font-size: 18px;
  max-width: 560px;
}
/*  Technology   */

.section--technology {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  height: 520px;
}
.section--technology-text {
  max-width: 55%;
  word-break: normal;
}
.section--technology-text h2 {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.section--technology-text h3 {
  margin-bottom: 10px;
  font-weight: 600;
}
.section--technology-text p {
  font-size: 23px;
}
.section--technology-image {
  width: 45%;
}
.section--technology-image img {
  width: 100%;
  height: 100%;
}
/*  Work  */
.work {
  padding-top: 80px;
  padding-bottom: 120px;
}
.section--work {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}
.section--work-text {
  max-width: 450px;
  text-align: center;
}
.section--work-text h2 {
  margin-top: 0;
  font-size: 30px;
}
.section--work-text p {
  font-size: 20px;
}
.section--work-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section--work-image {
  margin-top: 50px;
  width: 200px;
  padding-right: 20px;
  padding-left: 20px;
  height: 200px;
  cursor: pointer;
}
.section--work-image img {
  width: 200px;
  height: 200px;
}
.section--work-image-info {
  display: none;
  background-color: rgba(000, 000, 000, 0.7);
  position: absolute;
  text-align: center;
  width: 200px;
  height: 200px;
}
.section--work-image-info h6 {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.section--work-image-info p {
  font-size: 13px;
}
.section--work-image:hover .section--work-image-info {
  display: block;
}
/* Characteristics    */
.characteristics {
  background-color: #b9dfdf;
  padding-bottom: 60px;
  padding-top: 30px;
}
.section--characteristics {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
}
.section-characteristics-items {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.section-characteristics-item {
  max-width: 220px;
  margin-right: 10px;
  margin-left: 10px;
}
.section-characteristics-item h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  color: #aea16a;
}
.section-characteristics-item p {
  font-size: 18px;
  color: #aea16a;
  font-weight: 600;
}
.section-characteristics-item img {
  max-width: 150px;
  cursor: pointer;
}
/*  TRENDS  */
.trends {
  padding-top: 80px;
  padding-bottom: 120px;
}
.section--trends {
  padding-left: 30px;
  padding-right: 30px;
}
.section--trends-text {
  margin: auto;
  text-align: center;
  max-width: 800px;
}
.section--trends-text h2 {
  font-size: 45px;
  color: #aea16a;
  margin: 20px;
}
.section--trends-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
.section--trends-images {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}
.section--trends-image {
  width: 33.3%;
  max-height: 500px;
}
.section--trends-image img {
  width: 100%;
  height: 100%;
}
/* Bezzos  */
.bezzos {
  padding-top: 80px;
  padding-bottom: 120px;
}
.section--bezzos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 350px;
}
.section--bezzos .bar {
  width: 50px;
  background-color: #aea16a;
  min-height: 90%;
}
.section--bezzos-text {
  margin-left: 30px;
  margin-right: 30px;
}
.section--bezzos-text p {
  word-wrap: break-word;
  margin-top: 20px;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
}

.section--bezzos-text h5 {
  margin: 0;
  text-align: end;
  font-size: 30px;
}
/*  IA  */
.IA {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #b9dfdf;
}
.section--IA {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}
.section-IA-left {
  width: 60%;
}
.section--IA-item-img {
  width: 100%;
  height: 100%;
}
.section--IA-item-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-IA-rigth {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  height: auto;
  background-color: #d7eded;
}

.section--IA-item-text {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 390px;
}
.section--IA-item-text h2 {
  margin: 0;
  margin-top: 50px;
  font-size: 45px;
  line-height: 45px;
}
.section--IA-item-text p {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 0;
}
.section--IA .button {
  align-self: center;
}
/* IA-2  */
.IA-2 {
  padding-top: 120px;
  padding-bottom: 80px;
}
.section--IA-2 {
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
}
.section-IA-2-left {
  width: 60%;
  height: auto;
}
.section--IA-2-item-img {
  max-width: 100%;
  height: 100%;
}
.section--IA-2-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-IA-2-rigth {
  background-color: #fafaf8;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section--IA-2-item-text {
}
.section--IA-2-item-text h3 {
  font-weight: 600;
  margin: 0;
}
.section--IA-2-item-text h2 {
  margin: 0;
  margin-top: 10px;
  font-size: 45px;
}
.section--IA-2-item-text p {
  margin-top: 20px;
  font-size: 22px;
}
.section--IA-2 .button {
  margin-bottom: 0;
  align-self: center;
}
/*    */
footer {
  width: 100vw;
  background-color: #23354d;
}
.footer-body {
  margin: auto;
  max-width: 1140px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.footer-logo img {
  cursor: pointer;
  margin-top: 50px;
}
.footer-social ul,
.footer-social a {
  padding-left: 0;
  text-decoration: none;
  list-style: none;
}
.footer-contact ul {
  display: flex;
}
.footer-contact a {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
.footer-contact li {
  padding: 10px;
}

.footer-copyrigth h6 {
  color: #fff;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 0;
}
.footer-bar {
  width: 80%;
  border-top: 1px solid #b0b0c0;
}
/* RESPONSIVIDADE LAPTOP MENOR   */
@media (min-width: 769px) and (max-width: 1023px) {
  .section--banner-text {
    right: 40px;
  }
  .section--banner-text h1 {
    font-size: 80px;
    line-height: 90px;
  }
  .section--banner-text p {
    font-size: 16px;
  }
  .techonology {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section--technology {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .section--technology-text {
    max-width: 95%;
  }

  .section--technology-text h3 {
    font-size: 25px;
    text-align: center;
  }
  .section--technology-text h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 35px;
  }
  .section--technology-text p {
    font-size: 19px;
    margin-bottom: 30px;
  }

  .section--work-images {
    max-width: 70%;
  }
  .section--technology-image {
    width: 60%;
  }
  .section--trends-text p {
    font-size: 16px;
  }
  .section--bezzos-text p {
    font-size: 23px;
  }
  .section--bezzos-text h5 {
    font-size: 26px;
  }
  .IA {
    padding-bottom: 80px;
  }
  .section--IA {
    padding-right: 30px;
  }
  .section--IA-item-text h2 {
    font-size: 30px;
    line-height: 33px;
  }
  .section-IA-left {
    width: 55%;
  }
  .section-IA-rigth {
    max-width: 55%;
  }
  .section--IA-item-text h2 {
    font-size: 32px;
  }
  .section--IA-item-text p {
    font-size: 18px;
  }
  .IA-2 {
    padding-top: 80px;
  }
  .section-IA-2-left {
    width: 40%;
  }
  .section-IA-2-rigth {
    width: 60%;
  }
  .section--IA-2-item-text h2 {
    font-size: 32px;
  }
  .section--IA-2-item-text h3 {
    font-size: 16px;
  }
  .section--IA-2-item-text p {
    font-size: 20px;
  }
}
/*    */
/* RESPONSIVIDADE TABLET   */
@media (min-width: 600px) and (max-width: 768px) {
  .banner {
    height: 500px;
  }
  .section--banner-text .bar {
    height: 70px;
  }
  .section--banner-text h1 {
    font-size: 56px;
    line-height: normal;
  }
  .section--banner-text p {
    font-size: 14px;
    max-width: 350px;
  }
  .section--technology {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .section--technology-text {
    max-width: 95%;
  }
  .section--technology-text h3 {
    font-size: 20px;
    text-align: center;
  }
  .section--technology-text h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .section--technology-text p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .section--technology-image {
    width: 80%;
  }

  .section--work-text p {
    font-size: 18px;
  }
  .section-characteristics {
    justify-content: center;
    padding-right: 20px;
    padding-left: 30px;
  }
  .section-characteristics-item p {
    font-size: 14px;
  }
  .section-characteristics-item h2 {
    font-size: 22px;
  }
  .trends {
    padding-bottom: 80px;
  }

  .section--trends-text h2 {
    font-size: 30px;
  }
  .section--trends-text p {
    font-size: 16px;
  }
  .section--trends-image {
    width: 100%;
  }
  .section--trends-image img {
    object-fit: cover;
  }
  .bezzos {
    padding-bottom: 80px;
  }
  .section--bezzos-text p {
    font-size: 20px;
    line-height: 30px;
  }
  .section--bezzos-text h5 {
    font-size: 20px;
  }
  .section--bezzos .bar {
    min-height: 80%;
  }
  .IA {
    padding-bottom: 80px;
  }
  .section--IA {
    padding-right: 30px;
  }
  .section--IA-item-text h2 {
    font-size: 28px;
    line-height: 33px;
  }
  .section-IA-left {
    width: 40%;
  }
  .section-IA-rigth {
    max-width: 60%;
  }
  .section--IA-item-text p {
    font-size: 16px;
  }
  .IA-2 {
    padding-top: 80px;
  }
  .section-IA-2-left {
    width: 40%;
  }
  .section-IA-2-rigth {
    width: 60%;
  }
  .section--IA-2-item-text h2 {
    font-size: 28px;
  }
  .section--IA-2-item-text h3 {
    font-size: 16px;
  }
  .section--IA-2-item-text p {
    font-size: 16px;
  }
}
/*    */
/*  RESPONSIVIDADE CELL MAIOR   */
@media (min-width: 425px) and (max-width: 599px) {
  .banner {
    height: 350px;
  }
  .logo img {
    width: 80px;
    height: auto;
  }
  .header input {
    max-width: 180px;
    height: 35px;
  }
  .header button img {
    width: 20px;
    height: 20px;
  }
  .header .icon-menu img {
    width: 35px;
    height: 35px;
  }
  .section--banner-text .bar {
    height: 45px;
    width: 8px;
  }
  .section--banner-text {
    width: 60%;
    top: 50px;
    right: 0px;
  }
  .section--banner-text h1 {
    font-size: 36px;
    line-height: normal;
    max-width: 80%;
  }
  .section--banner-text p {
    font-size: 10px;
    max-width: 200px;
  }
  .section--technology {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: auto;
  }
  .section--technology-text {
    max-width: 95%;
  }
  .section--technology-text h3 {
    font-size: 14px;
    text-align: center;
    margin-top: 0;
  }
  .section--technology-text h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 23px;
  }
  .section--technology-text p {
    font-size: 13px;
    margin-bottom: 30px;
  }

  .section--technology-image {
    width: 90%;
  }
  .section--work-images {
    width: 100%;
  }
  .section--work-image {
    margin-top: 50px;
    width: 100%;
    padding: 0;
  }
  .section--work-image img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .section--work-image-info {
    width: calc(100% - 45px);
    height: 200px;
  }
  .section--work-image-info p {
    font-size: 14px;
  }

  .section--work-text h2 {
    font-size: 22px;
  }
  .section--work-text p {
    font-size: 14px;
  }
  .section-characteristics {
    justify-content: center;
    padding-right: 20px;
    padding-left: 30px;
  }
  .section-characteristics-item img {
    max-width: 100px;
  }
  .section-characteristics-item {
    max-width: 100%;
    height: 250px;
  }
  .section-characteristics-item p {
    font-size: 12px;
  }
  .section-characteristics-items {
    flex-wrap: wrap;
  }
  .section-characteristics-item h2 {
    font-size: 18px;
  }
  .trends {
    padding-bottom: 80px;
    padding-top: 40px;
  }

  .section--trends-text h2 {
    font-size: 30px;
  }
  .section--trends-text p {
    font-size: 13px;
  }
  .section--trends-image {
    width: 100%;
  }
  .section--trends-image img {
    object-fit: cover;
  }
  .bezzos {
    padding-bottom: 80px;
  }
  .section--bezzos-text p {
    font-size: 16px;
    line-height: 30px;
  }
  .section--bezzos-text h5 {
    font-size: 16px;
  }
  .section--bezzos .bar {
    min-height: 80%;
  }
  .IA {
    padding-bottom: 80px;
  }
  .section--IA {
    padding-right: 30px;
    flex-wrap: wrap;
  }
  .section--IA-item-text {
    max-width: 100%;
  }
  .section--IA-item-text h2 {
    font-size: 22px;
    line-height: 25px;
  }
  .section--IA-item-text p {
    font-size: 14px;
  }
  .section-IA-left {
    width: 100%;
  }
  .section-IA-rigth {
    max-width: 100%;
  }
  .button,
  .button a {
    padding: 10px;
    font-size: 12px;
  }

  .IA-2 {
    padding-top: 80px;
  }
  .section-IA-2-left {
    width: 40%;
  }
  .section-IA-2-rigth {
    width: 60%;
  }
  .section--IA-2-item-text h2 {
    font-size: 20px;
  }
  .section--IA-2-item-text h3 {
    font-size: 12px;
    margin-top: 15px;
  }
  .section--IA-2-item-text p {
    margin-top: 5px;
    font-size: 12px;
  }
  .section--IA-2 .button {
    margin-top: 15px;
    margin-bottom: 20px;
    align-self: center;
  }
  footer .footer-contact ul {
    padding: 0;
  }
  .footer-contact li {
    padding: 5px;
  }
  .footer-contact a {
    font-size: 13px;
  }
  .footer-copyrigth h6 {
    font-size: 10px;
  }
}

/*CELLs PEQUENOS*/
@media (min-width: 320px) and (max-width: 424px) {
  .banner {
    height: 350px;
  }

  .logo img {
    width: 60px;
    height: 40px;
  }
  .header .menu {
    margin-left: 20px;
  }
  .header input {
    max-width: 180px;
    height: 35px;
    font-size: 12px;
  }
  .header .icon-menu {
    padding-left: 10px;
  }
  .header button img {
    width: 18px;
    height: 18px;
  }
  .header .icon-menu img {
    width: 35px;
    height: 35px;
  }
  .section--banner-text .bar {
    height: 45px;
    width: 6px;
  }
  .section--banner-text {
    width: 60%;
    top: 50px;
    right: 0px;
  }
  .section--banner-text h1 {
    font-size: 36px;
    line-height: normal;
    max-width: 80%;
  }
  .section--banner-text p {
    font-size: 10px;
    max-width: 180px;
  }
  .section--technology {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: auto;
  }
  .section--technology-text {
    max-width: 95%;
  }
  .section--technology-text h3 {
    font-size: 12px;
    text-align: center;
    margin-top: 0;
  }
  .section--technology-text h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .section--technology-text p {
    font-size: 13px;
    margin-bottom: 30px;
  }

  .section--technology-image {
    width: 90%;
  }
  .section--work-images {
    width: 100%;
  }
  .section--work-image {
    margin-top: 50px;
    width: 100%;
    padding: 0;
  }
  .section--work-image img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .section--work-image-info {
    width: calc(100% - 45px);
    height: 200px;
  }
  .section--work-image-info p {
    font-size: 12px;
  }

  .section--work-text h2 {
    font-size: 20px;
  }
  .section--work-text p {
    font-size: 12px;
  }
  .section-characteristics {
    justify-content: center;
    padding-right: 20px;
    padding-left: 30px;
  }
  .section-characteristics-item img {
    max-width: 90px;
  }
  .section-characteristics-item {
    max-width: 100%;
    height: 250px;
  }
  .section-characteristics-item p {
    font-size: 12px;
  }
  .section-characteristics-items {
    flex-wrap: wrap;
  }
  .section-characteristics-item h2 {
    font-size: 16px;
  }
  .trends {
    padding-bottom: 80px;
    padding-top: 40px;
  }

  .section--trends-text h2 {
    font-size: 28px;
  }
  .section--trends-text p {
    font-size: 12px;
    line-height: 20px;
  }
  .section--trends-image {
    width: 100%;
  }
  .section--trends-image img {
    object-fit: cover;
  }
  .bezzos {
    padding-bottom: 80px;
  }
  .section--bezzos-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .section--bezzos-text h5 {
    font-size: 14px;
  }
  .section--bezzos .bar {
    min-height: 90%;
  }
  .IA {
    padding-bottom: 80px;
  }
  .section--IA {
    padding-right: 30px;
    flex-wrap: wrap;
  }
  .section--IA-item-text h2 {
    font-size: 18px;
    line-height: 20px;
  }
  .section-IA-left {
    width: 100%;
  }
  .section-IA-rigth {
    max-width: 100%;
  }
  .button,
  .button a {
    padding: 10px;
    font-size: 12px;
  }
  .section--IA-item-text p {
    font-size: 12px;
  }
  .IA-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section--IA-2 {
    flex-wrap: wrap;
  }
  .section-IA-2-left {
    width: 100%;
  }
  .section-IA-2-rigth {
    width: 100%;
  }
  .section--IA-2-item-text h2 {
    font-size: 18px;
  }
  .section--IA-2-item-text h3 {
    font-size: 12px;
    margin-top: 15px;
  }
  .section--IA-2-item-text p {
    margin-top: 5px;
    font-size: 12px;
  }
  .section--IA-2 .button {
    margin-top: 15px;
    margin-bottom: 20px;
    align-self: center;
  }
  footer .footer-contact ul {
    padding: 0;
  }
  .footer-contact li {
    padding: 5px;
  }
  .footer-contact a {
    font-size: 10px;
  }
  .footer-copyrigth h6 {
    font-size: 7px;
  }
}
/*    */
/*    */
